body{
  margin: 0;
  
}
.details{
    flex-direction: column;
    gap: 10px;
    display: flex;
    margin-left: 10%;
  }
  .institution{
  font-weight: 600;
  font-family: inherit;
  font-size: 17px;
  }
  .education_container{
    transition: box-shadow 0.5s ease;
    background-color: white;
    width: 60%;
    height: 450px;
    margin: 3rem auto;
    text-align: center;
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    padding: unset;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center; 
    
  }
  .education_container:hover{
  box-shadow:0px 0px 8px 2px grey;
  }
  #academics{
  background-image: url('./assets/academicsBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  }